
<div id="header" class="shadow">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" [ngClass]="{'nav-collapsed': isExpanded}">
    <button 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent2" 
    aria-controls="navbarSupportedContent2" 
    aria-expanded="false" 
    aria-label="Toggle navigation"
    (click)="isExpanded = !isExpanded"
    [attr.aria-expanded]="!isExpanded"
    >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse hidden-lg-down" id="navbarSupportedContent" [collapse]="!isExpanded">
    <ul class="navbar-nav mr-auto  mx-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link" (click)="scroll(experience)">Experiencia Laboral</a></li>
      <li class="nav-item"><a class="nav-link" (click)="scroll(habilidades)">Habilidades</a></li>
      <li class="nav-item"><a class="nav-link" (click)="scroll(educacion)">Educacion</a></li>
      <!-- <li class="nav-item"><a class="nav-link" (click)="scroll(seminarios)">Seminarios</a></li>
        <li class="nav-item"><a class="nav-link" (click)="scroll(portafolio)">Portafolio</a></li> -->
        <li class="nav-item"><a class="nav-link" (click)="scroll(contacto)">Contacto</a></li>
      </ul>
    </div>
  </nav>
</div>


<div class="col menu"></div>

<div class="col header"  data-aos="fade-left" #inicio>
  <div class="header--title_container">
    <div class="title">Mauricio Beltrán</div>
    <div class="subtitle">Ingeniero Civil en Computación e Informática</div>
  </div>
</div>

<div class="col container--logo">
  <img src="assets/logo.jpg" alt="" class="logo" data-aos="fade-up">
</div>

<div class="container">
  <div class="row">
    <div class="col col-sm-12 col-xs-12 col-md-10 col-lg-10 col-xl-10 centered container--detalle">
      <div class="row">
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 resumen--social centered">
          <a href="https://github.com/metalback" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/mauricio-beltr%C3%A1n-49794345/" target="_blank"><i class="fa fa-linkedin"></i></a>              
          <a href="https://www.instagram.com/mgustavo_bbeltran/" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>

        <div class="col-12"></div>

        <div class="col col-sm-12 col-md-10 col-lg-10 col-xl-10  centered">
          <p class="text-center">Soy Ingeniero Civil en Computación e Informática, con más de 6 años de experiencia en el desarrollo de aplicaciones web escalables.</p>
          <p class="text-center">He desempeñado diversos cargos como administrador de Sistemas GNU/Linux, desarrollo web fullstack y liderazgo de equipos de trabajo.</p> 
          <p class="text-center">Busco perfeccionarme en temáticas que agreguen valor al negocio, y mejoren la experiencia de usuario con éste.</p>
        </div>

        <div class="col-12"></div>

        <div class="centered resumen--boton">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 boton-contacto">
                <a href="https://drive.google.com/file/d/16surCbzK_4hdgkgOZ_Ze59TmpXJXFhmD/view" target="_blank" class="btn btn-info col-12" role="button">DESCARGAR CV</a>  
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 boton-contacto">
                <a href="#" class="btn btn-info col-12" role="button" (click)="scroll(contacto)">CONTACTAME</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col centrar experiencia-laboral padding-4" #experience>
  <a name="experience"></a>
  <h2>EXPERIENCIA LABORAL</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-5 col-lg-5 col-xl-5 d-none d-lg-block">
      <ul class="timeline-left">
        <li data-aos="fade-up" class="margin-9">
          <i class="fa fa-linux" aria-hidden="true"></i>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Desarrollo Web</h5>
              <h6 class="card-subtitle mb-2 text-muted">Sistemas Internos</h6>
              <p class="card-text">Desarrollo y Mantención del backend de la empresa</p>
            </div>
          </div>
        </li>
        <li data-aos="fade-up" class="margin-6">
          <i class="fa fa-linux" aria-hidden="true"></i>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Administración de Sistemas</h5>
              <h6 class="card-subtitle mb-2 text-muted">Servidores de Cliente</h6>
              <p class="card-text">Mantención y monitoreo de servidores web de clientes. La mayoría de éstos eran Centos (en todos sus sabores, 4, 5 y 6).</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-2 col-lg-2 col-xl-2 timeline-center d-none d-lg-block">
      <ul>
        <li>
          <i class="indap-ico"><img src="https://pbs.twimg.com/profile_images/577888794851971072/wUkMO425_400x400.png" class="experiencia-laboral--empresa"></i>
        </li>
        <li>
          <i class="tchile-ico"><img src="assets/tchile.png" class="experiencia-laboral--empres "></i>  
        </li>
      </ul>      
      <div class="line"></div>
    </div>

    <div class="col-5" class="margin-5  d-none d-lg-block">
      <ul class="timeline timeline-right">
        <li data-aos="fade-up">
          <i class="fa fa-linux" aria-hidden="true"></i>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Desarrollo Web</h5>
              <h6 class="card-subtitle mb-2 text-muted">Ejército de Chile</h6>
              <p class="card-text">Desarrollo de un sistema completo de gestión de contenidos para el Ejército de Chile, que permiten la manipulación completa del nuevo sitio del Ejercito de Chile de manera sencilla y segura.</p>
              <a href="https://www.ejercito.cl/home" target="_blank" class="card-link">Ejercito.cl</a>
            </div>
          </div>
        </li>
        <li data-aos="fade-up" class="margin-2">
          <i class="fa fa-linux" aria-hidden="true"></i>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">desarrollo de sistema completo de gestión de contenidos enmarcado en altos estándares de seguridad, frontend y backend que complementarán la manipulación completa del nuevo sitio del Ejercito de Chile.</p>
              <a href="https://www.ejercito.cl/home" target="_blank" class="card-link">Ejercito.cl</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="col-12 d-lg-none experiencia-laboral--md">
  <div class="col-1 timeline-line d-lg-none"></div>
  <div class="col-10 d-lg-none">
   <ul class="timeline">
    <li data-aos="fade-up">
      <i class="empresa-ico"><img src="https://pbs.twimg.com/profile_images/577888794851971072/wUkMO425_400x400.png" class="experiencia-laboral--empresa"></i>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </li>
    <li data-aos="fade-up">
      <i class="fa fa-linux" aria-hidden="true"></i>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </li>
    <li data-aos="fade-up">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </li>
    <li data-aos="fade-up">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>

<div class="col centrar skill-encabezado">
  <h2>HABILIDADES</h2>
</div>


<div class="container" #habilidades>
  <div class="row container--skill">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 container--skill-card">
      <div class="card skill">
        <h5 class="text-center skill--title">General</h5>
        <div *ngFor="let hab of desarrollo" class="skill--progress">
          <p>{{hab.title}}</p>
          <progressbar [max]="100" [value]="hab.current" [animate]="true" [type]="hab.type">
            <span class="text-nowrap">{{hab.current}} / 100</span>
          </progressbar>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 container--skill-card">
      <div class="card skill">
        <h5 class="text-center skill--title">Lenguajes</h5>
        <div *ngFor="let hab of tecnico" class="skill--progress">
          <p>{{hab.title}}</p>
          <progressbar [max]="100" [value]="hab.current" [animate]="true" [type]="hab.type">
            <span class="text-nowrap">{{hab.current}} / 100</span>
          </progressbar>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 container--skill-card">
      <div class="card skill">
        <h5 class="text-center skill--title">Habilidades</h5>
        <div *ngFor="let hab of blandas" class="skill--progress">
          <p>{{hab.title}}</p>
          <progressbar [max]="100" [value]="hab.current" [animate]="true" [type]="hab.type">
            <span class="text-nowrap">{{hab.current}} / 100</span>
          </progressbar>
        </div>
      </div>
    </div>

  </div>
</div>  

<div class="col centrar skill-encabezado">
  <h2>EDUCACION</h2>
</div>

<div class="container padding-2" #educacion>
  <div class="row">
    <div class="col col-sm-12 col-md-10 col-lg-10 col-xl-10 education centered">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <div class="row">
              <div class="col-md-2 col-lg-2 col-xl-2 centrar">
                <img src="assets/unap.png">
              </div>
              <div class="col-md-8 col-lg-8 col-xl-8 padding-1 centrar">
                Ingeniero Civil En Computación e Informática
              </div>
            </div>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">Universidad Arturo Prat - Chile</h6>
          <h6 class="card-subtitle mb-2 text-muted">2006 - 2011</h6>
          <p class="card-text">Licenciado en ciencias de la ingeniería, aprobado con distinción máxima.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col centrar skill-encabezado">
  <h2>CONTACTO</h2>
</div>

<div class="container" #contacto>
  <div class="row">
    <div class="col col-sm-12 col-md-10 col-lg-10 col-xl-10 centered form">
      <div class="form-group">
        <label for="contacto--nombre">Nombre</label>
        <input 
        type="text" 
        class="form-control" 
        id="contacto--nombre" 
        placeholder="Ej: John Doe"
        required
        [(ngModel)]="contacto_nombre"
        >
      </div>
      <div class="form-group">
        <label for="contacto--email">Correo electrónico</label>
        <input type="email" class="form-control" id="contacto--email" placeholder="Ej: joh@doe.cl">
      </div>
      <div class="form-group">
        <label for="contacto--subject">Sujeto</label>
        <input type="email" class="form-control" id="contacto--subject" placeholder="Ej: Contacto">
      </div>
      <div class="form-group">
        <label for="contact--mensaje">Mensaje</label>
        <textarea class="form-control" id="contact--mensaje" rows="3"></textarea>
      </div>
      <div class="centrar-elemento">
        <re-captcha (resolved)="resolved($event)" siteKey="6LedEloUAAAAAISKz6LE-o6Y3jHQ3dJEsrjqRq-r"></re-captcha>  
      </div>        
      <div class="centrar padding-3">
        <button [disabled]="!valida_robot" type="button" class="btn btn-primary col-6" (click)="enviarMensaje()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> <span>Enviar</span></button>  
      </div>
  </div>
</div>
</div>

<div class="back-to-top" (click)="scroll(inicio)" *ngIf="mostrar_elemento">
  <a><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
</div>