.container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    background: #fdfdfd;
}

.margin-2 {
    margin-top: 2em;
}

.margin-3 {
    margin-top: 3em;
}

.margin-4 {
    margin-top: 4em;
}

.margin-5 {
    margin-top: 5em;
}

.margin-6 {
    margin-top: 6em;
}

.margin-7 {
    margin-top: 7em;
}

.margin-8 {
    margin-top: 8em;
}

.margin-9 {
    margin-top: 9em;
}


.card {
    position: inherit;
}

.centered{
    float: none;
    margin: 0 auto;
}


.menu {
    background: #424242;
    height: 3em;
    box-shadow: 0px 0px 3px 1px #1c1c1c;
}

.header {
    background: #4e4e4e;
    height: 9em;
    text-align: center;
}

.header--title_container {
    padding-top: 1em;
}

.container--logo {
    text-align: center;
}

.title, .subtitle {
    color: #FFF;
    font-family: 'Roboto', sans-serif ;
}

.title {
    font-size: 25px;
}

.subtitle {
    font-size: 15px;
}

.logo   {
    position: relative;
    bottom: 3.5em;
    border-radius: 50%;
    border: 1px #fff;
    width: 7em;
    z-index: 1;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.container--detalle {
    position: relative;
    bottom: 6em;
    background: #fff;
    padding-top: 7em;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.resumen--social {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 3em;
    text-align: center;
}

.resumen--social > a i {
    color: #a1a1a1;
    opacity: .5;
    font-size: 25px;

}

.resumen--social > a i:hover {
    color: #424242;
    cursor: pointer;
}

.resumen--boton {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
}

.centrar {
    text-align: center;
}

.experiencia-laboral {
    padding-top: 0;
}

/* Timeline */
.experiencia-laboral--empresa {
    border-radius: 50%;
    width: 7em;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.timeline-center {
    z-index: 0;
    display: flex;
    justify-content: center;

}

.timeline-center ul {
    list-style: none;
}

.timeline-center ul li {
    margin: 
}

.indap-ico img {
    position: relative;
    width: 5em;
    z-index: 2;
    left: 13px;
}

.tchile-ico img {
    margin-top: 40em;
    position: relative;
    width: 5em;
    z-index: 2;
    left: 13px;
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.timeline-center:after {
    /*border: 2px solid #ccc;*/
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 6px dotted #17a2b8;
    transform: translate(-50%);
}

.timeline-left li {
    display: flex;
    justify-content: flex-end;
}

.timeline-left > li i {
    font-size: 30px;
    color: #000;
    background: #fff;
    position: relative;
    left: 12.4em;
    z-index: 1;
    border-radius: 50%;
}


.timeline-left > li:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 1em solid #424242;
    border-right: 1em solid transparent;
    position: relative;
    left: 20.5em;
    top: 0.04em;
}

.timeline-line {
    border-right: 4px solid #ccc;
}

.timeline, .timeline-left {
    list-style: none;
}

.timeline > li , .timeline-left > li {
    width: 100%;
    padding-top: 2em;
}

.timeline li i {
    font-size: 30px;
    color: #000;
    background: #fff;
    position: absolute;
    top: 1em;
    left: -2.33em;
    border-radius: 50%;
}

.timeline li:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 1em solid #424242;
    border-left: 1em solid transparent;
    position: absolute;
    left: -0.9em;
    top: 2.04em;
}

.empresa-ico > img {
    position: absolute;
    border-radius: 50%;
    width: 1.5em;
    left: -0.33em;
    top: 0.1em;
}

.card-body {
    padding: 0;
}

.card-title {
    padding: 1em;
    color: #FFF;
}

.card-title {
    background: #424242;
}

.card-subtitle, .card-text, .card-link {
    padding-left: 1em;
    padding-right: 1em;
}

.card-text {

}

.experiencia-laboral--md {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.section {
    padding: 30px 0;
    background-color: transparent;
}

/* SKILLS */

.skill-encabezado {
    padding-top: 4em;
}

.container--skill {
    display: flex;
    justify-content: space-around;
    /*padding-top: 5em;*/
    padding: 0 4em 0 4em;
}

.card.skill {
    padding: 2em;
    background: #424242;
}

.container--skill-card {
    padding-top: 2em;
}

.skill--title{
    color: #fff;
}

.skill--progress {
    color: #fff;
    font-size: 15px;
    padding-top: 0.5em;
}

.skill--progress > p > span { 
    float: right;
}

.centered p {
    justify-content: center;
}

.education {
    padding: 0 4em 0 4em;
}

.education img {
    width: 3em;
    border-radius: 50%;

}

.card-title span {
    padding-left: 1em;
}